In [1]:
import pandas as pd
import numpy as np
import os
os.makedirs('Data/', exist_ok=True)

In [2]:
os.listdir("Data/")

['.DS_Store',
 'title.basics.tsv.gz',
 'movies.sql',
 'title.ratings.tsv.gz',
 'title-akas-us-only.csv',
 '.ipynb_checkpoints',
 'movies_erd.png']

In [3]:
akas = pd.read_csv("Data/title-akas-us-only.csv", sep=',', low_memory=False)

In [4]:
basics = pd.read_csv("Data/title.basics.tsv.gz", sep='\t', low_memory=False)
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10017006,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10017007,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10017008,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10017009,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10017010,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [5]:
print (basics.columns)

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [6]:
filter_us_titles = basics['tconst'].isin(akas['titleId'])
basics = basics[filter_us_titles]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10016872,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10016901,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10016939,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10016962,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10016966,tt9916764,short,38,38,0,2018,\N,\N,Short

In [7]:
basics= basics.replace({'\\N': np.nan})

In [8]:
basics['runtimeMinutes']= basics['runtimeMinutes'].dropna(inplace=True)

In [9]:
basics['genres']= basics['genres'].dropna(inplace=True)

In [10]:
basics = basics[basics['titleType'] == 'movie']
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,None,None
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,None,None
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,None,None
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,None,None
625,tt0000630,movie,Hamlet,Amleto,0,1908,NaN,None,None
...,...,...,...,...,...,...,...,...,...
10016692,tt9916188,movie,Minotaur,Minotaur,0,NaN,NaN,None,None
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,None,None
10016777,tt9916362,movie,Coven,Akelarre,0,2020,NaN,None,None
10016809,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,None,None
10016901,tt9916620,movie,The Copeland Case,The Copeland Case,0,NaN,NaN,None,None

In [11]:
basics['startYear']= basics['startYear'].astype(float)

In [12]:
basics = basics[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2022)]

In [13]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,None,None
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,None,None
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,None,None
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,None,None
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,None,None
...,...,...,...,...,...,...,...,...,...
10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,None,None
10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,None,None
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,None,None
10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,None,None
10016809,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019.0,NaN,None,None

In [14]:
filter_ratings = basics['genres'].str.contains('Documentary')

In [15]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144330 entries, 34802 to 10016809
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          144330 non-null  object
 1   titleType       144330 non-null  object
 2   primaryTitle    144330 non-null  object
 3   originalTitle   144330 non-null  object
 4   isAdult         144330 non-null  object
 5   startYear       144330 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  0 non-null       object
 8   genres          0 non-null       object
dtypes: float64(1), object(8)
memory usage: 11.0+ MB

In [16]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,None,None
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,None,None
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,None,None
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,None,None
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,None,None

In [17]:
filter_ratings.to_csv('filtered_title_ratings.csv', index=False)